body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 2.5em;
    color: #333;
}
p {
    font-size: 1.5em;
    color: #555;
}
#clock, #date {
    margin-top: 30px;
    font-weight: bold;
}
#date {
    font-size: 1.5em;
}
#clock {
    font-size: 2em;
}
a{
    margin: 30px;
}